@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Adam';
  src: url('/fonts/Adam-Script.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #637f94;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f4f4f4;
  } 
  
.bg-noise {
    background-image: url(http://assets.iceable.com/img/noise-transparent.png);
}

body {
  scroll-behavior: smooth;
}